#nav NAV
#sidebar SIDEBAR
#main MAIN

- content_for :javascript do
  :coffeescript
    $(document).ready =>
      data = #{ json_escape(render(partial: "bootstrap", locals: { user: @current_user, squad: @squad, rooms: @squad.rooms }, formats: :json)) }
      Squadd.bootstrap(data)